# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WebMvcCourse.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\gabri\source\repos\WebMvcCourse\.idea\.idea.WebMvcCourse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
